@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 10px;
}

#body_load {
	opacity: 0;
	transition: 1s ease-in-out all;
	display: none;
}


/*loader css/*/

.bar-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1d446a;
	clip-path: circle(100%);
	transition: 2s ease-in-out all;
}

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner>div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}


/*----------multi-level-accordian-menu------------*/

.navbar-logo {
	padding: 15px;
	color: #fff;
	z-index: 1
}

.navbar-mainbg {
	background-color: transparent;
	padding: 0px;
}

#navbarSupportedContent {
	overflow: hidden;
	position: relative;
	z-index: 1
}

#navbarSupportedContent ul {
	padding: 0px;
	margin: 0px;
}

#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	display: block;
	opacity: .6;
	padding: 20px 20px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: relative;
}

#navbarSupportedContent>ul>li.active>a {
	color: #fff;
	opacity: 1;
	background-color: transparent;
	transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

.hori-selector {
	max-height: 5%;
	position: absolute;
	border-radius: 10px;
	top: 0px;
	left: 0px;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #FFA500;
}

.main-body {
	height: 80vh;
}

.main-footer {
	height: 20vh;
}

.page_info {
	position: absolute;
    right: 30%;
    line-height: 1;
    top: 20%;
    opacity: .7
}

.page_info::before{
	content: '';
    position: absolute;
    right: 65px;
    width: 2px;
    height: 250%;
    background: orangered;
    transform: rotate(27deg);
    top: -39px;
    opacity: 0.6;
}

.page_info p{
	margin: 0;
    font-size: 3rem;
    font-family: serif;
    color: #fff;
    letter-spacing: 3px;		
}

.page_info span{
	font-size: 3rem;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    position: relative;
    letter-spacing: 3px;
    left: 23%;
}

.page_info h6{
	position: absolute;
    left: 50px;
    font-size: 1.2rem;
    font-family: calibri;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 128%;
    bottom: -39px;
}
main {
	height: 100%;
	overflow: hidden;
}

.tile-container {
	position: absolute;
	bottom: 5%;
	right: -660px;
	text-align: center;
	user-select: none;
	z-index: 4;
	display: flex;
	transform: translateX(-100px);
}

.tile {
	width: 210px;
	height: 157px;
	margin-left: 20px;
	pointer-events: none;
	display: inline-block;
	border-radius: 5%;
	border: 3px solid #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.page-container {
	visibility: hidden;
}

.page {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
}

.hero-1 {
	background-image: url(image/Slider2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-2 {
	background-image: url(image/Slider1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-3 {
	background-image: url(image/Slider3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-4 {
	background-image: url(image/Slider4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-5 {
	background-image: url(image/Slider5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-6 {
	background-image: url(image/Slider6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.progress_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 4px;
	z-index: 1;
	background: red;
	transition: 5s ease all;
}

.controls {
	position: relative;
}

.controls button {
	width: 80px;
	height: 80px;
	background: none;
	outline: none;
	border-radius: 50%;
	margin-left: 10px;
	border: 1px solid #fff
}

.controls button i {
	font-size: 25px;
	color: #fff;
}

.controls button i:nth-child(1) {
	margin-left: 10px;
}

.progress_done {
	width: 100%;
	background: #c1c1c1;
	height: 4px;
	position: absolute;
	top: 50%;
	transform: translateY(3px);
	border-radius: 5px;
}

.progress_indicator {
	border-radius: 5px;
	height: 4px;
	background: red;
	width: 0%;
	transition: 2s ease-in-out all;
}

.counter h2 {
	font-size: 3rem;
	position: relative;
	top: 12%;
	color: #fff;
	font-weight: 800;
	font-family: fantasy;
}

@media (max-width: 991px) {
	#navbarSupportedContent ul li a {
		padding: 12px 30px;
	}
	.hori-selector {
		max-width: 10px;
		max-height: 10px;
		margin-top: 18px;
		margin-left: 10px;
		border-radius: 50%;
	}
}

@media (max-width: 791px) {
	.tile-container {
		top: 66px;
    	right: -1029px;
	}
	.tile {
		width: 200px;
		height: 300px;
		left: 21px;
		position: relative;
	}
	
}

@media (max-width: 600px) {
	body{
		background-color: #313131;
	}
	.desktop,.navbar-mainbg{
		display: none;
	}
	.mobile{
		display: block;
	}

}