@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
	z-index: 1
}
.navbar-mainbg{
	background-color: transparent;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
	z-index: 1
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    opacity: .6;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #fff;
	opacity: 1;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	max-height: 5%;
	position:absolute;
	border-radius: 10px;	
	top:0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #FFA500;
}

.main-body{
	height: 80vh;
}

.main-footer{
	height: 20vh;
}

.info0.active > .container1 , .info1.active > #container1 , .info2.active > #container1 , .info3.active > #container1 , .info4.active > #container1{
	display: block;
}

#container1{
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
  z-index: 1;
  display: none;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 2s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


main {
  height: 100%;
  overflow: hidden;
}

.green-box {
  height: 350px;
  background: #70c26f;
}

.tile-container {
  position: absolute;
  top: 275px;
  left: 0;
  text-align: center;
  user-select: none;
  z-index: 4;	
  display: flex;
  width: 99999px;
}

.tile,.tiles {
  width: 200px;
  height: 350px;
  margin-left: 50px;
  pointer-events: none;
  display: inline-block;
  border-radius: 5%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.page-container {
  visibility: hidden;
}

.page {
  cursor: pointer;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}

.hero-1 {
  background-image:url(https://cdn.wallpapersafari.com/77/77/w1kILe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-2 {
  background-image:url(https://wallpaperaccess.com/full/166870.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-3 {
  background-image:url(https://www.wallpapers.net/mountain-bike-wallpaper-for-desktop-mobiles/download/5120x2160.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-4 {
  background-image:url(https://www.betterwalls.ch/pim/pr/WP/30009576/photo-wallpaper-sunset-ride_big01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.progress_bar{
	position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    z-index: 1;
    background: orangered;
    transition: 5s ease all;
}

.controls{
	position: relative;
}

.controls button {
	width: 80px;
	height: 80px;
	background: none;
	outline: none;
	border-radius: 50%;
	margin-left: 10px;
	border: 1px solid  #fff
}
.controls button i{
	font-size: 25px;
	color: #fff;
}

.controls button i:nth-child(1){
	margin-left: 10px;
}

.progress_done {
	width: 100%;
    background: #c1c1c1;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(3px);
    border-radius: 5px;
}
.progress_indicator {
  border-radius: 5px;
  height: 4px;
  background: orangered;
  width: 0%;
  transition: 2s ease-in-out all;
}

.counter h2{
	font-size: 3rem;
    position: relative;
    top: 12%;
    color: #fff;
    font-weight: 800;
    font-family: fantasy;
}

@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		max-width: 10px;
		max-height: 10px;
		margin-top: 18px;
		margin-left: 10px;
		border-radius: 50%;
	}
}